html, body {
    font-family: 'Lato', sans-serif;
}

.header {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#results > div {
    display: inline-block;
    width: 100%;
}

#results {
    height: 60%;
    overflow: scroll;
    visibility: hidden;
}
